.post-container {
  padding: 15px 20px 5px;
}

.search-content {
  margin-bottom: 15px;
}

.post {
  list-style-type: none;
  margin: 0;
  padding: 0 30px;
}

.post-item {
  padding: 16px 26px;
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
}

.post-title {
  font-size: 22px;
  margin-bottom: 12px;
}

.post-content {
  margin-bottom: 20px;
  padding: 0 10px;
}

.post-content p {
  line-height: 1.4;
  font-size: 17px;
}

.post-comment-btn {
  display: block;
  border: none;
  outline: none;
  color: blue;
  font: inherit;
  margin: 12px 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
}

.comment-list {
  padding: 0 35px;
}
